<a href="https://colab.research.google.com/github/cjc1119/google-classroom/blob/main/Cesar_Cepeda_01_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Quiz 1

This notebook contains 5 coding challenges.  Take special care to follow the directions _exactly_. In many questions, we ask that you name variables in a specific way. Make sure to do this, as we use it for grading.

To **submit** your quiz, simply turn in this Google Colab in Google Classroom.

### Quiz Information:
- This is an "open book" quiz - you may use any resources! This includes Jupyter notebooks, Google, StackOverflow, and your notes. **ANY RESOURCE YOU USE MUST BE CITED** (comment your code with links, which lesson you got the inspiration from, etc.).
- You may NOT work with anyone else on this quiz (your classmates, your instructor, etc.).
- You will have 1 hour to take this quiz.

# Your Info:
**Please fill out the following questions:**

### 1. What is your name?

Cesar Cepeda

[Quiz 1 Feedback]<img src = "C:\\Users\cjc11\OneDrive\Stern\Jobs\Resumes\Post-Grad\_Project Phoenix\General Assembly\Data Science Bootcamp - 9.11.24\Quiz 1 Results.png">

## Problem 1: List Comprehension

Given the following **list** of people:
```python
people = [
    {'name': 'Xlegic', 'age': 37, 'role': 'student'},
    {'name': 'John', 'age': 45, 'role': 'student'},
    {'name': 'Jasmine', 'age': 20, 'role': 'student'},
    {'name': 'Eva', 'age': 33, 'role': 'instructor'},
]
```

**4pts total**  
*Partial credit will be given if substantial progress toward the right answer is made.*

In [1]:
people = [
    {'name': 'Xlegic', 'age': 37, 'role': 'student'},
    {'name': 'John', 'age': 45, 'role': 'student'},
    {'name': 'Jasmine', 'age': 20, 'role': 'student'},
    {'name': 'Eva', 'age': 33, 'role': 'instructor'},
]

a. Loop over the list of people printing their name and age.

In [2]:
name = 'name'
age = 'age'
role = 'role'
print([(entry[name], entry[age]) for entry in people])

[('Xlegic', 37), ('John', 45), ('Jasmine', 20), ('Eva', 33)]

b. Loop over the list of people printing only the *students* names and ages.

In [3]:
print([(entry[name], entry[age]) for entry in people if entry[role] == 'student'])

[('Xlegic', 37), ('John', 45), ('Jasmine', 20)]

c. Use a list comprehension to build a new list of students under the age of 40.

In [4]:
new_list = [entry for entry in people if entry[age] < 40]
new_list

[{'name': 'Xlegic', 'age': 37, 'role': 'student'},
 {'name': 'Jasmine', 'age': 20, 'role': 'student'},
 {'name': 'Eva', 'age': 33, 'role': 'instructor'}]

## Problem 2: Customer Demographics
We provide a data structure consisting of a list of dictionaries. Each dictionary corresponds to a customer and contains some demographic information about them. While we provide you _one_ example of a list of customers, this company receives many such lists per day. Write a function that takes an object like this and **returns the average age of all the customers**. Call this function `average_age()`.

Notes:
* You may assume every customer will have an age listed (ie, no missing values)
* There is no built-in average or mean function in Python. You may _not_ import any additional libraries.

**4pts total**  
*Partial credit will be given if substantial progress toward the right answer is made.*

In [5]:
customers = [
    {"name": "Grace Hopper", "age": 47, "rank": "Rear Admiral"},
    {"name": "Linus Torvalds", "age": 50, "nationality": "Finland"},
    {"name": "Alan Turing", "age": 35, "nationality": "United Kingdom"},
    {"name": "Tim Book", "age": 29, "organization": "General Assembly"},
    {"name": "Katherine Johnson", "age": 101, "organization": "NASA"},
    {"name": "Guido van Rossum", "age": 64, "rank": "BDFL"},
    {"name": "Hadley Wickham", "age": 40, "nationality": "New Zealand"}
]

In [6]:
# Your answer here: edit this function
# replace pass in the below function with your solution

def average_age(list_of_dicts):
    age = [entry['age'] for entry in list_of_dicts]
    return sum(age) / len(age)

In [7]:
average_age(customers)

52.285714285714285

In [8]:
[entry['age'] for entry in customers]

[47, 50, 35, 29, 101, 64, 40]

In [9]:
[entry.values() for entry in customers]

[dict_values(['Grace Hopper', 47, 'Rear Admiral']),
 dict_values(['Linus Torvalds', 50, 'Finland']),
 dict_values(['Alan Turing', 35, 'United Kingdom']),
 dict_values(['Tim Book', 29, 'General Assembly']),
 dict_values(['Katherine Johnson', 101, 'NASA']),
 dict_values(['Guido van Rossum', 64, 'BDFL']),
 dict_values(['Hadley Wickham', 40, 'New Zealand'])]

In [10]:
age = [entry['age'] for entry in customers]
sum(age) / len(age)

52.285714285714285

In [11]:
def average_age(list_of_dicts):
  age = [entry['age'] for entry in list_of_dicts]
  return sum(age) / len(age)

In [12]:
average_age(customers)

52.285714285714285

## Problem 3: Highest and Lowest

Write a function `high_and_low` that takes in a string of space separated numbers and are to return the highest and lowest numbers. For example:

```python
high_and_low("1 2 3 4 5")  # returns "5 1"
high_and_low("1 2 -3 4 5") # returns "5 -3"
high_and_low("1 -9 3 4 -5") # returns "4 -5"
```

All numbers will be valid integers, there will always be at least one number in the string, and the return value should be a string with the highest number first. There are built in `max` and `min` functions in Python that you may use here.

**4pts total**

Partial credit will be given if substantial progress toward the right answer is made.

In [13]:
def high_and_low(numbers_str):
    pass

In [14]:
test = "1 2 3 4 5"

In [15]:
test.split()

['1', '2', '3', '4', '5']

In [16]:
[int(num) if type(int(num)) == int else num for num in test.split()]

[1, 2, 3, 4, 5]

In [17]:
num_list = [int(num) if type(int(num)) == int else num for num in test.split()]
num_list

[1, 2, 3, 4, 5]

In [18]:
[num_list[num_list.index(integer)] for integer in num_list]

[1, 2, 3, 4, 5]

In [38]:
def high_and_low (string):
    int_list = [int(num) for num in string.split(" ")]
    max_num = max(int_list)
    min_num = min(int_list)
    return [max_num, min_num]

In [42]:
high_and_low(test)

[5, 1]

In [30]:
test_1 = "1 2 3 4 5"  # returns "5 1"
test_2 = "1 2 -3 4 5" # returns "5 -3"
test_3 = "1 -9 3 4 -5" # returns "4 -5"

In [39]:
high_and_low(test_1)

[5, 1]

In [40]:
high_and_low(test_2)

[5, -3]

In [41]:
high_and_low(test_3)

[4, -9]

## Problem 4: Debugging

The function `tax_amount` finds the sales tax percentage based on the state where the customer lives. This value is used in the next function, `total_price`, which should return the total price the customer will have to pay (including tax). There are **_four_** errors in the cell below. Three are syntax errors, the other is a semantic error. Find them. Fix them.

If all of the errors in the cell are fixed, `total_price(tax_rate, 39.99)` will return `41.15`.

**4pts total**  
*Partial credit will be given if substantial progress toward the right answer is made.*

In [ ]:
# edit this cell to fix the four errors

def get_tax_rate(state_abbrev):
    state_tax_rates = {'CA': .065,
                       'CO': .029,
                       'NY': .04}
    print(state_tax_rates[state_abbrev])

tax_rate = get_tax_rate('CO')

def total_price(tax_rate, price_before_taxes)
    tax_amt = tax_rate * price_before_taxes
    return round(price_before_taxes * tax_amt, 2)

total_price(tax_rte, 39.99)

SyntaxError: expected ':' (<ipython-input-99-cb895821c5e5>, line 11)

In [ ]:
# edit this cell to fix the four errors

def get_tax_rate(state_abbrev):
    state_tax_rates = {'CA': .065,
                       'CO': .029,
                       'NY': .04}
    return(state_tax_rates[state_abbrev]) #1

tax_rate = get_tax_rate('CO')
# tax_rate

def total_price(tax_rate, price_before_taxes): #2
    tax_amt = (1+tax_rate) * price_before_taxes #3
    return round(tax_amt, 2) #4

total_price(tax_rate, 39.99) #5

41.15

## Problem 5: Format words into a sentence


Complete the function `format_words` that accepts of list of strings separated by commas. The function will return a single string with a comma and space between each word. The last word should be separated by the word 'and' instead of a comma. Empty string values should be ignored. Empty lists passed into the function should result in an empty string returned. For example:

```python
format_words(['ninja', 'samurai', 'ronin']) # should return "ninja, samurai and ronin"
format_words(['ninja', ' ', 'ronin']) # should return "ninja and ronin"
format_words([]) # should return ""
```

**4pts total**  
*Partial credit will be given if substantial progress toward the right answer is made.*

In [ ]:
# Your answer here: edit this function
# replace pass in the below function with your solution

def format_words():
    pass

In [ ]:
# format_words(['ninja', 'samurai', 'ronin']) # should return "ninja, samurai and ronin"
# format_words(['ninja', ' ', 'ronin']) # should return "ninja and ronin"
# format_words([]) # should return ""

In [ ]:
test = ['ninja', 'samurai', 'ronin']

In [ ]:
splits = [entry for entry in test]
splits

joined = ', '.join(splits)
joined.rstrip(',')

'ninja, samurai, ronin'